body {
    background-image: url("https://i.pinimg.com/736x/b1/52/fb/b152fbb42e81cf2994d87585a8a04dac.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}
#title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
#title h1 {
	font-size: 2rem;
	color: darkturquoise;
}
.content-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.content-container .contentCard {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: row;
	width: 90%;
	margin-bottom: 10px;
}
.content-container .contentCard .shark {
	border: 5px dashed #5EC883;
    border-radius: 10px;
	display: flex;
    align-items: center;
    width: 10rem;
    height: 10rem;
}
.content-container .contentCard .text {
	font-size: 1rem;
    color: #2F8751;
    text-align: right;
}